.highscores {
  text-align: left;
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 90px;
  margin-top: 30px;
}
.container {
  text-align: center;
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  
}
.buttons{
  padding: 10px;
  text-align: center;
}
.input{
  text-align: center;

}
#question {
  border-color: red;
  padding-top:5px;
  padding-bottom: 3px;
}
#answers{ 
  padding-top:3px;
  padding-bottom: 3px;
}